@model List<VistaPedidos>

@if(Model != null)
{
    <table>
        <thead>
        <th>
            <th>usuario</th>
            <th>Nombre</th>
            <th>Titulo</th>
            <th>Portada</th>
        </thead>
        <tbody>
            @foreach(VistaPedidos vistaPedidos in Model)
            {
                <tr>
                    <td>@vistaPedidos.IdUsuario</td>
                    <td>@vistaPedidos.Nombre</td>
                    <td>@vistaPedidos.Titulo</td>
                    <td>
                        <img src="~/images/@vistaPedidos.Portada" style="width:50px; height:50px;" />
                    </td>
                </tr>
            }
        </tbody>
    </table>
}